* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

/* container ocupa a tela inteira */

.container {
    width: 100%;
    height: 100vh;
    background: #2B885C;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

/* título */

.titulo {
    padding: 0 0 20px 0;
    
}

.s {
    color: red;
}

.i {
    color: #ffd166;
}

/* botão */

.btn-iniciar {
    background: #e6be59;
    border: none;

    padding: 15px 40px;

    font-size: clamp(18px, 3vw, 26px);

    border-radius: 10px;

    cursor: pointer;

    box-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);

    transition: 0.2s;
}

.btn-iniciar:hover {
    background: #d9ac3f;
    transform: scale(1.05);
}

/* CARD BRANCO */

.card {
    background: #eeeeee;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);

    width: 90%;
    max-width: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* TÍTULO DA TELA */

.titulo-info {
    text-align: center;
    font-size: clamp(22px, 3vw, 30px);
    margin-bottom: 25px;
    color: #333;
}

/* FORMULÁRIO */

form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* LABEL */

label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
}

/* INPUTS */

input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #999;
    font-size: 16px;
    margin-bottom: 10px;
}

/* BOTÃO */

form .btn-iniciar {
    margin-top: 20px;
    align-self: center;
}

.pagina-info{
    background-image: url("imagens/fundo.png");
    background-repeat: repeat;
    background-size: 1000px;
}

.pagina-info .container{
    background: transparent;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-indice{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.card-indice h2{
    font-size: 20px;
    color: #F58442;
    font-weight: semi-bold;
}

.container-indice{
    width: 573px;
    height: 28px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
}

.indice{
    background-color:#F58442;
    width: 100px;
    height: 26px;
    border-radius: 8px;
    border-color: #BA4500;
    border-width: 1px;
    border-style: solid;
}

.card-pergunta{
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    border-width: 2px;
    border-color: #0000004D;
    border-style: solid;
    width: fit-content;
}

.card-pergunta h2{
    font-size: 20px;
    color :#000000B3;
    font-weight:500;
}

.card-alternativa{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;

}

.card-alternativa img{
    width: 297px;
    height: 165px;
    padding: 10px 20px 10px 20px;
}

.btn-alternativaA{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 36px;
    background-color: #99b7f5;
    border: none;
    border-radius: 8px;
    color: #2B885C;
    font-weight: 500;
}

.btn-alternativaB{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 36px;
    background-color: #F58442;
    border: none;
    border-radius: 8px;
    color: #FCCA59;
    font-weight: 500;
}

.btn-alternativaC{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 36px;
    background-color: #F296Bd;
    border: none;
    border-radius: 8px;
    color: #FCCA59;
    font-weight: 500;
}

.btn-alternativaD{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 36px;
    background-color: #FCCA59;
    border: none;
    border-radius: 8px;
    color: #F58442;
    font-weight: 500;
}